*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    display: flex;
    background-color: blueviolet;
    justify-content: center;
    align-items: center;
}


main{
    /* height: 50%; */
    width: 40%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    padding: 20px;
    gap: 30px;
}

.input-task{
    display: flex;
    justify-content: space-around;
    gap:30px
}

input{
    width: 400px;
    height: 30px;
    border-radius: 10px;
    padding: 5px;
}

#add-btn{
    border-radius: 10px;
    padding: 5px;
    background-color: blueviolet;
    color: white;
}

.task-div{
    width:90%;
    border-radius: 10px;
    border: 1px solid gray;
    display: flex;
    justify-content: space-between;
    padding:15px;
    align-items: center;
}

.task-btn{
    display: flex;
    gap: 20px;
}


.btn{
    padding: 5px 10px;
    border-radius: 20px;
    color: white;
}

#edit-btn{
    background-color: green;
}

#del-btn{
    background-color: red;
}

